{% extends "two_column.html" %}

{% block title %}
<h1>Log In</h1>
{% endblock %}

{% block column_left %}
<div class="row mb-3 px-1">
    Welcome to RemindMe! Please log in.
</div>
{% endblock %}

{% block column_right %}
<div class="row bg-light border rounded shadow-sm py-2">
    <form method="POST" action="/login">
        
        <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="email@email.com"
                maxlength="100" required>
        </div>

        <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password"
                maxlength="100" required>
        </div>

        <div class="mb-2">
            <input type="checkbox" class="form-check-input" name="remember" id="remember">
            <label for="remember" class="form-check-label">Remember Me</label>
        </div>

        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>

    </form>
</div>
{% endblock %}