{% extends "two_column.html" %}

{% block title %}
<h1>Sign Up</h1>
{% endblock %}

{% block column_left %}
<div class="row mb-3 px-1">
<p class="px-0">
    Signing up with a phone number is optional, but we can't send you reminders without a phone number.
</p>
<p class="px-0">
    Password must be at least 5 characters long.
</p>
</div>
{% endblock %}

{% block column_right %}
<div class="row bg-light border rounded shadow-sm py-2">
    <form method="POST" action="/signup">
        
        <div class="mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="email@email.com"
                maxlength="100" required>
        </div>

        <div class="mb-2">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="John Doe"
                maxlength="100">
        </div>

        <label for="phone">Phone Number <span style="color:gray;">(Optional) (e.g. 0123456789)</style></label>
        <div class="input-group mb-2">
            <span class="input-group-text">+1</span>
            <input type="tel" class="form-control" name="phone" placeholder="0123456789"
                pattern="[0-9]{10}" maxlength="10">
        </div>

        <label for="discord">Discord <span style="color:gray;">(Optional) (e.g. User#1234)</style></label>
        <div class="input-group mb-2">
            <input type="text" class="form-control" name="discord-name" placeholder="User"
                maxlength="100">
            <span class="input-group-text">#</span>
            <input type="text" class="form-control" name="discord-tag" placeholder="1111"
                pattern="[0-9]{4}" maxlength="4">
        </div>

        <div class="mb-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"
                minlength="5" maxlength="50" required>
        </div>

        <div class="mb-3">
            <label for="password-confirm">Confirm Password</label>
            <input type="password" class="form-control" name="password-confirm"
                minlength="5" maxlength="50" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>

    </form>
</div>
{% endblock %}