{% extends "two_column.html" %}

{% block title %}
<h1>Sign Up</h1>
{% endblock %}

{% block column_left %}
<div class="row mb-3 px-1">
lorem ipsum dolor sit amet
</div>
{% endblock %}

{% block column_right %}
<div class="row bg-light border rounded shadow-sm py-2">
    <form method="POST" action="/signup">
        
        <div class="mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="email@email.com"
                maxlength="100" required>
        </div>

        <div class="mb-2">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="John Doe"
                maxlength="100">
        </div>

        <div class="mb-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"
                minlength="5" maxlength="50" required>
        </div>

        <div class="mb-3">
            <label for="password-confirm">Confirm Password</label>
            <input type="password" class="form-control" name="password-confirm"
                minlength="5" maxlength="50" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>

    </form>
</div>
{% endblock %}